<h1><b>使い方ガイド</b></h1></br>
<h4>1. <a href="/sign_up">サインアップフォーム</a>でアカウント登録をします</h4></br>
<h4>2. <a href="/sign_in">ログイン</a>します</h4></br>
<h4>3. <a href="/deal_input">Deal input</a>で出社予定時間と賭け金を設定し、契約を作ります</h4></br>
<h4>4. 契約時間になったら<a href="/result">Result</a>で罰金があるかを確認します</h4></br>

<h2><b>コンセプト</b></h2>
