<h2><b>使い方ガイド</b></h2></br>
<h4>1. <a href="/sign_up">サインアップフォーム</a>でアカウント登録をします</h4></br>
<h4>2. <a href="/sign_in">ログイン</a>します</h4></br>
<h4>3. <a href="/deal_input">Deal input</a>で出社予定時間と賭け金を設定し、契約を作ります</h4></br>
<h4>4. 契約時間になったら<a href="/result">Result</a>で罰金があるかを確認します</h4></br>

<h2><b>コンセプト</b></h2></br>
<h5>リモート出社が増えた今、<b>朝出社するべき時間に仕事を開始していない人</b>は多いのではないでしょうか？</h5></b>
<h5>人間は<b>正義感や責任感</b>だけでは朝起きれない動物です。でも、<b>罰金が課される</b>と朝起きれるようになると思います。</h5>
<h5>そんな世の中のサラリーマンたちのために <b>Don't be late </b>を開発しました。</h5>
<h5>クレカ情報を登録し、朝何時に起きて何円罰金されるかを自分で決めて<b>覚悟</b>を決めましょう。</h5>
<h5>出社予定時間までに Slack を開き、罰金されない朝を迎えましょう。</h5>
